@import url('./style-guide.css');
@import url('./menu/menu.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.5s ease;
}

.container {
    width: 100%;
    margin: 0 20px;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin: 0 36px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
        margin: auto;
    }
}